:root {
  --primary-color: #022340;
  --secondary-color: #1D8FF2;

  --blue: #57AAF2;
  --light-blue: #79DCF2;
  --gray: #CECECE;
  --light-gray: #F2F2F2;

  --background: var(--light-gray);

  --font-48: 48px;
  --font-36: 36px;
  --font-24: 24px;
  --font-20: 20px;
  --font-18: 18px;
  --font-16: 16px;
}

html, body {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
      Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
}

body {
  background-color: var(--background);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: var(--font-48);
}

h2 {
  font-size: var(--font-36);
}

h3 {
  font-size: var(--font-24);
}

h4 {
  font-size: var(--font-20);
}

h5 {
  font-size: var(--font-18);
}

h6 {
  font-size: var(--font-16);
}

p {
  font-size: var(--font-16);
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
